<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <script type="text/javascript" src="http://classic.avantlink.com/affiliate_app_confirm.php?mode=js&authResponse=300205dbbaea4bfce3c92650dbece250b886d739"></script>
     <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]function(){(c[a].q=c[a].q[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "da1ddly1c3");
</script>
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TK6HRGK');</script>
  <!-- End Google Tag Manager -->
 
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/138b5c441b71b757fff75ba6c/1302f141bd66b2c286d9bac2f.js");</script>
  <meta name="p:domain_verify" content="a4e4722eace54c37b43db4fc43f09bbe"/>
  <meta name="google-site-verification" content="bXQdnfCitrdYeoHlpHXo_rh1VDUZnSbthrB2qpW7n74" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_header_bg }}">
  <link rel="shortcut icon" href="{{ 'favicon.beginning.png' | asset_url }}" type="image/png" />
  <meta name="facebook-domain-verification" content="189mxt2y2qrj177cao3frgmzi084or" />

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  
  {{ 'torokhtiy.scss.css' | asset_url | stylesheet_tag }}
  
  {{ 'tachyons.min.css' | asset_url | stylesheet_tag }}

  {{ 'tachyons-flexbox.min.css' | asset_url | stylesheet_tag }}


  {% include 'google-fonts' %}
  <meta name="google-site-verification" content="cTZBMyEu0kYq6isRCT2psPuhVJyxItzy1pV_sS-_CtE" />

  {% if template contains 'collection' %}
	<link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
	<link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}
  
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  
  {%- capture contentForQuerystring -%}{{ content_for_header }}
            {% render 'tpa_script' %}{%- endcapture -%}
  {%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |
     replace:'\/','/' | 
     replace:'+',' ' | 
     replace:'\u0026','&'
  -%}
  {% if pageUrl contains '?page=' %}<!--<meta name="robots" content="noindex,follow"/>-->{% endif %}


  {% include 'social-meta-tags' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
		  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		  crossorigin="anonymous"></script>

  <script>
    window.theme = window.theme || {};

    theme.strings = {
      stockAvailable: {{ 'products.product.stock_available' | t: count: '1' | json }},
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      noStockAvailable: {{ 'products.product.stock_unavailable' | t | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      totalCartDiscount: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }}
    };
    
    localStorage.setItem('full_cost_for_free', {{cart.total_price}})
  </script>
  
  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  {% if template.name == 'product' or template.name == 'cart' %}
    <script>
      window.theme = window.theme || {};
      theme.moneyFormat = {{ shop.money_format | json }};
    </script>
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {% render 'treedify' %}{{ content_for_header }}

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

  {% if customer %}
  <script>
    FS.identify('{{customer.email}}', { displayName: '{{customer.email}}', email: '{{customer.email}}' });
  </script>
  {% endif %}
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
  {% if handle contains 'test-1' %}
    <meta name="robots" content="noindex">
  {% endif %}
  {% if handle contains 'personal-coaching' %}
	<meta name="robots" content="noindex">
  {% endif %}	

  <script src="https://use.fontawesome.com/ac69f17e75.js" async></script>

  {% if template == "customers/account" %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
			integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			crossorigin="anonymous"></script>
  {% endif %}

  {% if template == "page.testform" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/pikaday.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/css/pikaday.min.css" />
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
  
  {% endif %}


  {% if template.name =='photos_from_seminars' %}
    <meta name="robots" content="noindex">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  {% endif %}
  {% if template == 'product.nutrition' %}
     <script  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
  {% endif %}
  {% unless template contains 'product' %}
    <!-- slick slider from home page -->
    <script src="{{ 'slick.min.js' | asset_url }}"></script>
    {{ 'slick.css' | asset_url | stylesheet_tag }}

    <script type="text/javascript">
      $(document).ready(function(){
        $('.basicProgramsSlider').slick({
          slidesToShow: 3,
          autoplay: true,
  		  autoplaySpeed: 2000,
          arrows:true,
          dots: true,
          dotsClass: 'white slick-dots',
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 2024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
                infinite: true,
                dots: true
              }
            },
            {
              breakpoint: 1100,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 700,
              settings: "unslick"
             }
  		  ]
        });
      });
     </script>  
  {% endunless %}

  <!--//end--> 
  
  <!-- start Heap tracking code-->
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("4202300277");
  </script>
  <!-- end Heap -->
  

  <script>
    function returnEventHandler () {
    const delayForShow = 300
    const delayForHide = 3000
    let status = 'hide' // hide, show, pending
    let first = false
    let container = null

    let hideTimeout = null
    
    function showContainer (price) {
      container = document.getElementById('totalPrice')
      var upToFreeShipping = $(container);
      if (!first) {
        first = true;
        container.hidden = false;
        upToFreeShipping.html(
          $(price >= 7500 ? 
            "<span style='color: #928282; font-size: 14px'>" +
              "<span id='total_price_info'>Congratulations! You've got free shipping (USA only)</span></span>"
            :
            "<span style='color: #928282; font-size: 14px'>" +
              "<span id='total_price_info'>Only " +
              "<span style='color: #f42727'>$" + (7500 - Number(price)) / 100 + "</span>" + " away from free shipping (USA only)" + 
            "</span></span>"
          )
        )
      } else {
        container.hidden = false
        if ( Number(price) >= 7500 ) {
        	$('#total_price_info').text("Congratulations! You've got free shipping (USA only)")
        } else {
        	/*$('#total_price_info').html("Only " + "<span style='color: #f42727'>$" + (7500 - Number(price)) / 100 + "</span>" + " away from free shipping (USA only)");*/
        }
      }
      status = 'show'
      hideTimeout = setTimeout(hideContainer, delayForHide)
    }
    function hideContainer () {
      container.hidden = true
      status = 'hide'
    }
    return function (event) {
      const price = event.detail
      if (status === 'hide') {
        status = 'pending'
        setTimeout(showContainer, delayForShow, price)
      }
      if (status === 'show') {
        clearTimeout(hideTimeout)
        hideTimeout = setTimeout(hideContainer, delayForHide)
        if ( Number(price) >= 7500 ) {
        	$('#total_price_info').text("Congratulations! You've got free shipping (USA only)")
        } else {
        	$('#total_price_info').html("Only " + "<span style='color: #f42727'>$" + (7500 - Number(price)) / 100 + "</span>" + " away from free shipping (USA only)");
        }
      }
    }
  }
    
    function renderFullCost() {
      
      try {
        
		document.body.addEventListener('full_cost_for_free_change', returnEventHandler());
      

      	let upToFreeShipping = $('#totalPrice');
      	if (!localStorage.getItem('full_cost_for_free') || localStorage.getItem('full_cost_for_free') == 0) {
      		upToFreeShipping.prepend(
              $( 
                "<span style='color: #928282; font-size: 14px'>" /* +
                "<span id='total_price_info'>Free shipping for orders over <span style='color: #f42727'>$99 (USA only)</span></span></span>"*/
              )
              )
        } else if (7500 > localStorage.getItem('full_cost_for_free') > 0) {
          upToFreeShipping.prepend(
          	$(
        		"<span style='color: #928282; font-size: 14px'>" +
                "<span id='total_price_info'>Only " /*+
                "<span style='color: #f42727'>$" + (7500 - localStorage.getItem('full_cost_for_free')) / 100 + "</span>" + " away from free shipping (USA only)" + 
                "</span></span>"*/
            )
          )
        } else if(localStorage.getItem('full_cost_for_free') >= 7500) {
        	upToFreeShipping.prepend(
              $(
                  "<span style='color: #928282; font-size: 14px'>" /*+
                  "<span id='total_price_info'>Congratulations! You've got free shipping (USA only)</span></span>"*/
              )
          )
        }
      
		setTimeout(function hide() {upToFreeShipping[0].hidden = true}, 5000);
      
      } catch (e) {}
      
  	};
  
    $(function() {
      setTimeout(renderFullCost, 2000);
    })
  </script>
  
{% include 'geolocationredirect_snippet' %}
  {% if template contains 'big-video-library' or template == "page.video" or template contains 'video-library' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>VideoLibrary</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
      {{ 'tachyons-flexbox.min.css' | asset_url | stylesheet_tag }}
      {{ 'tachyons.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {{ 'react-select.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'videos.js' | asset_url }}"></script>
    <script src="{{ 'filterTags.js' | asset_url }}"></script>
    <script src="{{ 'english.js' | asset_url }}"></script>
    <script src="{{ 'espanol.js' | asset_url }}"></script>
  {% endif %}

<!--Gem_Page_Header_Script-->
{% include 'gem-app-header-scripts' %}
<!--End_Gem_Page_Header_Script-->
<!--<script src="https://cdn.gravitec.net/storage/9a1f5ba26b91785bc81443dcb64c17db/client.js" async></script>-->
 <script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=6214104e450a7' async='true'></script> 
<!-- Reddit Pixel -->
<script>
!function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','t2_ap74j0is');rdt('track', 'PageVisit');
</script>
<!-- DO NOT MODIFY -->
<!-- End Reddit Pixel -->
  <script>rdt('track', 'PageVisit')</script>
  <script>rdt('track', 'ViewContent')</script>
  <script>rdt('track', 'AddToCart')</script>
  <script>rdt('track', 'Purchase')</script>
  




                  {% include 'bss-product-labels-configs' %}
                      {%- render 'bold-subscription-widget' -%}
{% include 'swift_core' %} 
 <!-- XO-InsertCode -->
{% include "xo-insertcode-header" %}
<!-- End: XO-InsertCode Header-->

      {% include 'judgeme_core' %}

      {% if handle contains 'male-weightlifting-2-0-week-1' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-2' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-3' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-4' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-5' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-6' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-7' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-8' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-9' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-1' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-2' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-3' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-4' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-5' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-6' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-7' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-8' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-9' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-10' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-11' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-20' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'untitled-dec-30-13-29-22' %}
<meta name="robots" content="noindex">
{% endif %}

<style>
#tidio-chat-iframe { bottom: 70px !important; }
@media only screen and (max-width: 980px) {
 #tidio-chat-iframe { bottom: 50px !important;}
}
</style>

{% render 'e-custom-pages-google-tag-manager' %}
  
{% render 'gp-head' %}
</head>
             

<body data-instant-intensity="viewport"  class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
<!-- XO-InsertCode -->

<!-- End: XO-InsertCode Body-->
  <!-- Bold: Memberships -->
{% if customer %}
<div class="bold_customer_id" hidden>{{ customer.id }}</div>
{% endif %}
  
<!-- end Bold code -->
  <div id="totalPrice" style="text-align: center; position: fixed; top: 0; width: 100%; z-index: 1000; background: white; border-bottom: 1px solid #ececec;"></div>

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">
    {{ 'general.accessibility.skip_to_content' | t }}
  </a>
{% unless template == 'page.video-library' or template == 'page.video' %}
  
{% endunless%}
  
  {% if template != 'index' %}
	<div class="page-width breadcrumb-container">
  			
  	</div>
{% endif%}

  <div class="page-container page-element is-moved-by-drawer">
    <main class="main-content" id="MainContent" role="main">
      {% capture ICART_FULL_PAGE_LAYOUT %}{{ content_for_layout }}{% endcapture %}{% include 'icart-variables', ICART_FULL_PAGE_LAYOUT: ICART_FULL_PAGE_LAYOUT %}
	<noscript class="endOfLayoutContentX" type="text/mark"></noscript>{% render 'treedify_script' %}
    </main>
 {% unless template == 'page.video-library' or template == 'page.video' %}
    <div id="shopify-section-footer" class="shopify-section"><footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="flex-footer">
      
      
        <div class="flex__item">
          
              
                <div class="site-footer__section">
                  <p class="h1 site-footer__section-title">Information</p>
                  <ul class="site-footer__list">
   
                    <li class="site-footer__list-item"><a href="/pages/contact-us">Contact us</a></li>
                    <li class="site-footer__list-item"><a href="https://torokhtiy.com/pages/careers">Careers</a></li>
   <li class="site-footer__list-item"><a href="https://blog.torokhtiy.com/">Blog</a></li>
                    <li class="site-footer__list-item"><a href="/pages/sitemap">Sitemap</a></li>
                    <!--<li class="site-footer__list-item"><a href="/pages/terms-and-conditions">Terms and conditions</a></li>
                    <li class="site-footer__list-item"><a href="/pages/privacy-policy-1">Privacy policy</a></li>
                    <li class="site-footer__list-item"><a href="https://torokhtiy.com/policies/refund-policy">Refund policy</a></li>
                    <li class="site-footer__list-item"><a href="https://torokhtiy.com/pages/agreement-and-release-of-liability">Agreement and release of liability</a></li>-->
                    <li class="site-footer__list-item"><a href="https://torokhtiy.com/pages/torokhtiy-policies-and-guidelines">Torokhtiy Policies and Guidelines</a></li>
                    <li class="site-footer__list-item"><a href="https://torokhtiy.com/pages/about-us">About us</a></li>
                    <li class="site-footer__list-item"><a href="https://torokhtiy.com/pages/register-affiliate-account">Join our affiliate program</a></li>
                    <li class="site-footer__list-item"><a href="https://torokhtiy.com/pages/medical-disclaimer">Medical Disclaimer</a></li>
                    
                    	
                  </ul>


                </div>
  
        </div>
      
       <div class="flex__item">

                <div class="site-footer__section">
                  <p class="h1 site-footer__section-title">Best-selling Programs<p>
                  <ul class="site-footer__list">
                    
  
                      <li class="site-footer__list-item"><a href="https://torokhtiy.com/products/male-weightlifting-2-0">Olympic Weightlifting Program</a></li>
                    	
                    
  
                      <li class="site-footer__list-item"><a href="https://torokhtiy.com/products/weight-lifting-program-for-women">Weight Lifting Program for Women</a></li>
                                        	
                    	<li class="site-footer__list-item"><a href="https://torokhtiy.com/products/free-weightlifting-intro-program">Free Weightlifting Program</a></li>
   <li class="site-footer__list-item"><a href="https://torokhtiy.com/products/squat-program">12 Week Squat Program For Strength & Mass</a></li>
                    <li class="site-footer__list-item"><a href="https://torokhtiy.com/products/olympic-weightlifting-program-for-beginners">Olympic Weightlifting Program for Beginners</a></li>
                  </ul>
                </div>
            
        </div>
  <!-- <div class="flex__item">
          
              
                <div class="site-footer__section">
                  <p class="h1 site-footer__section-title">My account</p>
                  <ul class="site-footer__list">
                    
                      <li class="site-footer__list-item"><a href="/account">My orders</a></li>
                      <li class="site-footer__list-item"><a href="/account/addresses">My adresses</a></li>
                      <li class="site-footer__list-item"><a href="/cart">My cart</a></li>
                      <li class="site-footer__list-item"><a href="/account">My personal info</a></li>
                      {% if customer %}
                    	<li class="site-footer__list-item"><a href="/account/logout">{{ 'layout.customer.log_out' | t }}</a></li>
                      {% else %}
                    	<li class="site-footer__list-item"><a href="/account/login">{{ 'layout.customer.sign_in' | t }}</a></li>
                      {% endif %}
 
                  </ul>
                </div>
            
        </div>-->
   <div class="flex__item">
          
              
                <div class="site-footer__section">
                  <p class="h1 site-footer__section-title">Products Reviews</p>
                  <ul class="site-footer__list">
                    
                      <li class="site-footer__list-item"><a href="https://torokhtiy.com/pages/blog-reviews">Products Reviews</a></li>
                      <li class="site-footer__list-item"><a href="mailto:reviews@torokhtiy.com">Contact Editorial</a></li>
                      <li class="site-footer__list-item"><a href="https://torokhtiy.com/pages/gym-equipment-hot-deals">Gym Equipment Special Offers from Oleksiy Torokhtiy</a></li>
                      <li class="site-footer__list-item"><a href="https://torokhtiy.com/pages/how-we-make-our-products-reviews">How We Make Our Product’s Reviews</a></li>
                      {% if customer %}
                      {% else %}
                      {% endif %}
 
                  </ul>
                </div>
            
        </div>
      
        <div class="flex__item">
          
              <div class="site-footer__section">
                
                  <p class="h1 site-footer__section-title text-left">Follow us</p>
                
                <ul class="list--inline social-icons text-left">
                  
                    <li>
                      <a href="https://www.facebook.com/Torokhtiyo" target="_blank" rel="noopener noreferrer" title="Alexey Torokhtiy on Facebook">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook" viewBox="0 0 32 32"><path fill="#444" d="M18.222 11.556V8.91c0-1.194.264-1.799 2.118-1.799h2.326V2.667h-3.882c-4.757 0-6.326 2.181-6.326 5.924v2.965H9.333V16h3.125v13.333h5.764V16h3.917l.528-4.444h-4.444z"></path></svg>
                        <span class="icon__fallback-text">Facebook</span>
                      </a>
                    </li>
                  
                  
                    <li>
                      <a href="https://www.tiktok.com/@torokhtiy_olympian" target="_blank" rel="noopener noreferrer" title="Alexey Torokhtiy on Tiktok">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-twitter" viewBox="0 0 32 32"><path fill="#444" d="M24 4H6a2 2 0 0 0-2 2v18a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm-1.311 9.474a4.27 4.27 0 0 1-3.967-1.911v6.577a4.861 4.861 0 1 1-4.861-4.862c.102 0 .201.009.3.015v2.396c-.1-.012-.197-.03-.3-.03a2.481 2.481 0 0 0 0 4.962c1.371 0 2.581-1.08 2.581-2.45l.024-11.17h2.289a4.268 4.268 0 0 0 3.934 3.811v2.662z"></path></svg>
                        <span class="icon__fallback-text">Tiktok</span>
                      </a>
                    </li>
                  <li>
                      <a href="https://www.reddit.com/user/TOROKHTIY_Aleksey/" target="_blank" rel="noopener noreferrer" title="Alexey Torokhtiy on Reddit">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-twitter" viewBox="0 0 32 32"><path fill="#444" d="M17.662 2C15.565 2 14 3.713 14 5.662v3.373c-2.75.146-5.266.88-7.273 2.03-.774-.744-1.81-1.074-2.815-1.073-1.09.001-2.203.378-2.97 1.242l-.018.02-.018.02c-.737.92-1.028 2.154-.832 3.378a4.4 4.4 0 0 0 1.953 2.977C2.02 17.753 2 17.875 2 18c0 4.962 5.832 9 13 9s13-4.038 13-9c0-.125-.02-.247-.027-.371a4.4 4.4 0 0 0 1.953-2.977c.196-1.224-.095-2.458-.832-3.379l-.018-.02-.017-.019c-.769-.864-1.882-1.241-2.971-1.242-1.005 0-2.041.33-2.815 1.072C21.266 9.914 18.75 9.181 16 9.035V5.662C16 4.683 16.565 4 17.662 4c.52 0 1.155.26 2.149.61.84.294 1.932.592 3.33.681A2.501 2.501 0 0 0 25.5 7C26.875 7 28 5.875 28 4.5S26.875 2 25.5 2c-.939 0-1.752.53-2.18 1.3a9.836 9.836 0 0 1-2.847-.577C19.569 2.406 18.738 2 17.663 2zm-13.75 9.992c.395 0 .77.104 1.08.272-1.104.921-1.941 1.998-2.447 3.174a2.31 2.31 0 0 1-.494-1.102c-.108-.672.093-1.37.412-1.783.301-.325.851-.56 1.45-.56zm22.174 0c.598 0 1.15.236 1.451.56.319.414.52 1.112.412 1.784a2.31 2.31 0 0 1-.494 1.101c-.506-1.175-1.343-2.252-2.447-3.173a2.27 2.27 0 0 1 1.078-.272zM10 14a2 2 0 1 1 .001 3.999A2 2 0 0 1 10 14zm10 0a2 2 0 1 1 .001 3.999A2 2 0 0 1 20 14zm.238 5.533C19.6 21.4 17.556 23 15 23c-2.556 0-4.6-1.599-5.238-3.332 1.15.933 3.066 1.6 5.238 1.6 2.172 0 4.088-.668 5.238-1.735z"></path></svg>
                        <span class="icon__fallback-text">Reddit</span>
                      </a>
                    </li>
                  
                  
                    <li>
                      <a href="https://www.instagram.com/torokhtiy/" target="_blank" rel="noopener noreferrer" title="Alexey Torokhtiy on Instagram">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewBox="0 0 512 512"><path d="M256 49.5c67.3 0 75.2.3 101.8 1.5 24.6 1.1 37.9 5.2 46.8 8.7 11.8 4.6 20.2 10 29 18.8s14.3 17.2 18.8 29c3.4 8.9 7.6 22.2 8.7 46.8 1.2 26.6 1.5 34.5 1.5 101.8s-.3 75.2-1.5 101.8c-1.1 24.6-5.2 37.9-8.7 46.8-4.6 11.8-10 20.2-18.8 29s-17.2 14.3-29 18.8c-8.9 3.4-22.2 7.6-46.8 8.7-26.6 1.2-34.5 1.5-101.8 1.5s-75.2-.3-101.8-1.5c-24.6-1.1-37.9-5.2-46.8-8.7-11.8-4.6-20.2-10-29-18.8s-14.3-17.2-18.8-29c-3.4-8.9-7.6-22.2-8.7-46.8-1.2-26.6-1.5-34.5-1.5-101.8s.3-75.2 1.5-101.8c1.1-24.6 5.2-37.9 8.7-46.8 4.6-11.8 10-20.2 18.8-29s17.2-14.3 29-18.8c8.9-3.4 22.2-7.6 46.8-8.7 26.6-1.3 34.5-1.5 101.8-1.5m0-45.4c-68.4 0-77 .3-103.9 1.5C125.3 6.8 107 11.1 91 17.3c-16.6 6.4-30.6 15.1-44.6 29.1-14 14-22.6 28.1-29.1 44.6-6.2 16-10.5 34.3-11.7 61.2C4.4 179 4.1 187.6 4.1 256s.3 77 1.5 103.9c1.2 26.8 5.5 45.1 11.7 61.2 6.4 16.6 15.1 30.6 29.1 44.6 14 14 28.1 22.6 44.6 29.1 16 6.2 34.3 10.5 61.2 11.7 26.9 1.2 35.4 1.5 103.9 1.5s77-.3 103.9-1.5c26.8-1.2 45.1-5.5 61.2-11.7 16.6-6.4 30.6-15.1 44.6-29.1 14-14 22.6-28.1 29.1-44.6 6.2-16 10.5-34.3 11.7-61.2 1.2-26.9 1.5-35.4 1.5-103.9s-.3-77-1.5-103.9c-1.2-26.8-5.5-45.1-11.7-61.2-6.4-16.6-15.1-30.6-29.1-44.6-14-14-28.1-22.6-44.6-29.1-16-6.2-34.3-10.5-61.2-11.7-27-1.1-35.6-1.4-104-1.4z"></path><path d="M256 126.6c-71.4 0-129.4 57.9-129.4 129.4s58 129.4 129.4 129.4 129.4-58 129.4-129.4-58-129.4-129.4-129.4zm0 213.4c-46.4 0-84-37.6-84-84s37.6-84 84-84 84 37.6 84 84-37.6 84-84 84z"></path><circle cx="390.5" cy="121.5" r="30.2"></circle></svg>
                        <span class="icon__fallback-text">Instagram</span>
                      </a>
                    </li>
                  
                  
                  
                  
                    <li>
                      <a href="https://www.youtube.com/user/WeightliftingUkraine" target="_blank" rel="noopener noreferrer" title="Alexey Torokhtiy on YouTube">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-youtube" viewBox="0 0 33 32"><path fill="#444" d="M-.314 25.286q0 1.969 1.299 3.347t3.163 1.378h23.913q1.864 0 3.163-1.378t1.299-3.347V6.256q0-1.969-1.313-3.386t-3.15-1.417H4.147q-1.837 0-3.15 1.417T-.316 6.256v19.03zm11.944-3.439V9.694q0-.184.105-.289.079-.026.131-.026l.131.026 11.444 6.09q.105.105.105.262 0 .105-.105.21l-11.444 6.09q-.052.052-.105.052-.105 0-.158-.052-.105-.105-.105-.21z"></path></svg>
                        <span class="icon__fallback-text">YouTube</span>
                      </a>
                    </li>
                </ul>
              </div>        
        </div>      

    </div>
  </div>
         
  <div class="site-footer__copyright">
    <div class="page-width">
      <div class="grid medium-up--grid--table">
        <div class="grid__item medium-up--one-half">
          <small>© 2023, <a  title="">TORWOD LLC.</a> <p style="display:inline"></p>
		  <p style="display:inline"></p>
          <p style="display:inline">Sheridan, Wyoming, USA 82801</p>
          <br><p style="display:inline">As an Amazon Associate we earn from qualifying purchases.</p>
   <p>The information on this site is not intended or implied to be a substitute for professional medical advice, diagnosis or treatment. All content, including text, graphics, images and information, contained on or available through this web site is for general information purposes only.</p></small>
        </div>
        <div class="grid__item medium-up--one-half medium-up--text-right">
            
            <div class='fl w-33'>
            	<ul class="list--inline payment-icons">
                
                  <li>
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-paypal" viewBox="0 0 57 32"><path fill="#444" d="M53.906 11.425h3.219l-2.656 12h-3.188zm-45.375.031q1.469 0 2.484 1.078t.609 2.984q-.375 1.844-1.703 2.891T6.78 19.456H4.311l-.875 3.969H-.002l2.625-11.969h5.906zm30.625 0q1.469 0 2.5 1.078t.625 2.984q-.25 1.219-.953 2.125t-1.719 1.359-2.234.453h-2.438l-.844 3.969h-3.438l2.625-11.969h5.875zm-26.312 3.032q.156-.031.672-.156t.859-.203.906-.156 1.094-.078q.875-.031 1.641.125t1.406.5.906 1.031.047 1.625l-1.313 6.25h-3.156l.219-.938q-.656.656-1.656.938t-1.891.141-1.422-.984-.281-2.219q.344-1.625 1.953-2.328t4.391-.703q.094-.469-.094-.75t-.563-.391-1-.078q-.813.031-1.75.25t-1.25.406zm30.687 0q.188-.031.547-.125t.672-.172.703-.141.813-.109.859-.047q.906-.031 1.672.125t1.406.5.922 1.031.063 1.625l-1.344 6.25h-3.188l.219-.938q-.656.656-1.672.938t-1.922.141-1.438-.984-.281-2.219q.219-1.125 1.094-1.797t2.156-.953 3.156-.281q.156-.719-.266-.984t-1.391-.234q-.563 0-1.219.125t-1.141.266-.734.266zM6.406 17.175q.438 0 .859-.219t.719-.594.391-.844q.188-.688-.156-1.156t-1-.469H5.563l-.75 3.281h1.594zm30.657 0q.656 0 1.25-.484t.75-1.172-.203-1.156-.984-.469h-1.75l-.688 3.281h1.625zm-15.25-3.094l1.281 9.406-2.313 3.938h3.531l7.5-13.344h-3.25l-3.125 5.563-.5-5.563h-3.125zM16.625 20.3q0-.313.156-.844h-.813q-1.469 0-1.875.781-.313.563-.016.938t.859.375q1.375-.063 1.688-1.25zm30.719 0q.063-.531.188-.844h-.781q-1.563 0-1.906.781-.313.563-.016.938t.859.375q1.406-.063 1.656-1.25z"></path></svg>
                    <span class="icon__fallback-text">paypal</span>
                  </li>

            	</ul>
          </div>
                    
          <div class='fl w-25'>
            	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352.9 106.4"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#f7b600;}.cls-3{fill:#1a1f71;}.cls-4{fill:#ff5f00;}.cls-5{fill:#eb001b;}.cls-6{fill:#f79e1b;}</style></defs><title>mcvs_acc_hrz</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect width="332.9" height="106.4"/><rect class="cls-1" x="171" y="2.6" width="159.2" height="101.1"/><rect class="cls-2" x="173.6" y="87.3" width="153.9" height="13.8"/><rect class="cls-3" x="173.6" y="5.3" width="153.9" height="13.8"/><path class="cls-3" d="M235.2,34.3,219.3,72.2H208.9l-7.8-30.3c-.5-1.9-.9-2.5-2.3-3.3a39.42,39.42,0,0,0-9.7-3.2l.2-1.1H206a4.57,4.57,0,0,1,4.5,3.9l4.1,21.9,10.2-25.8Zm40.7,25.5c0-10-13.8-10.6-13.7-15,0-1.4,1.3-2.8,4.2-3.2a18.69,18.69,0,0,1,9.7,1.7l1.7-8a25.58,25.58,0,0,0-9.2-1.7c-9.7,0-16.5,5.2-16.6,12.5-.1,5.5,4.9,8.5,8.6,10.3s5.1,3.1,5.1,4.7c0,2.5-3.1,3.7-5.9,3.7a20.12,20.12,0,0,1-10.1-2.4l-1.8,8.3a27.86,27.86,0,0,0,10.9,2c10.3.1,17-5,17.1-12.9m25.6,12.4h9.1l-7.9-37.9h-8.4a4.47,4.47,0,0,0-4.2,2.8L275.3,72.2h10.3l2-5.7h12.6Zm-11-13.4,5.2-14.2,3,14.2ZM249.2,34.3l-8.1,37.9h-9.8l8.1-37.9Z"/><path id="_Compound_Path_" data-name="&lt;Compound Path&gt;" class="cls-1" d="M46.9,97.5v-6a3.49,3.49,0,0,0-3.7-3.8,3.94,3.94,0,0,0-3.4,1.7,3.5,3.5,0,0,0-3.2-1.7,3.4,3.4,0,0,0-2.9,1.4V87.9H31.8v9.6h1.9V92a2.24,2.24,0,0,1,2.4-2.5c1.4,0,2.2.9,2.2,2.5v5.5h1.9V92a2.24,2.24,0,0,1,2.4-2.5c1.4,0,2.2.9,2.2,2.5v5.5ZM78.1,88H74.6V85.1H72.7V88h-2v1.7h2v4.5c0,2.2.8,3.5,3.2,3.5a5.59,5.59,0,0,0,2.6-.7l-.6-1.7a3.29,3.29,0,0,1-1.8.5,1.4,1.4,0,0,1-1.5-1.6V89.6h3.5V88Zm17.8-.3a3,3,0,0,0-2.6,1.4V87.9H91.4v9.6h1.9V92.1c0-1.6.8-2.6,2.1-2.6a5.85,5.85,0,0,1,1.3.2l.6-1.8a6.75,6.75,0,0,0-1.4-.2ZM69,88.7a6.86,6.86,0,0,0-3.9-1c-2.4,0-3.9,1.1-3.9,3,0,1.6,1.1,2.5,3.2,2.8l1,.1c1.1.2,1.8.6,1.8,1.1,0,.7-.8,1.2-2.3,1.2a5.27,5.27,0,0,1-3.2-1l-1,1.5a7.24,7.24,0,0,0,4.1,1.2c2.8,0,4.3-1.3,4.3-3.1s-1.2-2.5-3.3-2.8l-1-.1c-.9-.1-1.7-.4-1.7-1s.8-1.2,1.9-1.2a7.21,7.21,0,0,1,3,.8Zm29.1,4a4.72,4.72,0,0,0,5,5,5,5,0,0,0,3.4-1.1l-1-1.5a4,4,0,0,1-2.5.9,3.21,3.21,0,0,1,0-6.4,4,4,0,0,1,2.5.9l1-1.5a5,5,0,0,0-3.4-1.1,4.48,4.48,0,0,0-5,4.8Zm-13.5-5c-2.8,0-4.7,2-4.7,5a4.7,4.7,0,0,0,4.9,5,6.12,6.12,0,0,0,3.9-1.3l-1-1.4a4.78,4.78,0,0,1-2.8,1A2.81,2.81,0,0,1,82,93.5h7.1v-.8c0-3-1.8-5-4.5-5Zm0,1.8a2.39,2.39,0,0,1,2.5,2.4H81.9a2.57,2.57,0,0,1,2.7-2.4ZM58.7,92.7V87.9H56.8v1.2a3.68,3.68,0,0,0-3.1-1.4,5,5,0,0,0,0,10,3.68,3.68,0,0,0,3.1-1.4v1.2h1.9Zm-7.8,0a3,3,0,1,1,3,3.2,2.94,2.94,0,0,1-3-3.2Zm73.9-5a3,3,0,0,0-2.6,1.4V87.9h-1.9v9.6h1.9V92.1c0-1.6.8-2.6,2.1-2.6a5.85,5.85,0,0,1,1.3.2l.6-1.8a6.75,6.75,0,0,0-1.4-.2Zm15.4,8.4a.6.6,0,0,1,.4.1c.1,0,.2.1.3.2s.2.2.2.3.1.2.1.4a.6.6,0,0,1-.1.4c-.1.1-.1.2-.2.3s-.2.2-.3.2-.2.1-.4.1a.6.6,0,0,1-.4-.1c-.1-.1-.2-.1-.3-.2s-.2-.2-.2-.3-.1-.2-.1-.4a.6.6,0,0,1,.1-.4c.1-.1.1-.2.2-.3s.2-.2.3-.2S140.1,96.1,140.2,96.1Zm0,1.7a.37.37,0,0,0,.3-.1.22.22,0,0,0,.2-.2l.2-.2c0-.1.1-.2.1-.3a.37.37,0,0,0-.1-.3.22.22,0,0,0-.2-.2l-.2-.2c-.1,0-.2-.1-.3-.1a.37.37,0,0,0-.3.1.22.22,0,0,0-.2.2l-.2.2c0,.1-.1.2-.1.3a.37.37,0,0,0,.1.3.22.22,0,0,0,.2.2l.2.2A.37.37,0,0,0,140.2,97.8Zm.1-1.1a.37.37,0,0,1,.3.1c.1.1.1.1.1.2s0,.1-.1.2a.35.35,0,0,1-.2.1l.3.3h-.3l-.3-.3H140v.3h-.2v-.9Zm-.2.1V97h.3v-.2h-.3Zm-22.7-4.1V87.9h-1.9v1.2a3.68,3.68,0,0,0-3.1-1.4,5,5,0,0,0,0,10,3.68,3.68,0,0,0,3.1-1.4v1.2h1.9Zm-7.7,0a3,3,0,1,1,3,3.2c-1.9.1-3-1.4-3-3.2Zm27.1,0V84.1h-1.9v5a3.68,3.68,0,0,0-3.1-1.4,5,5,0,0,0,0,10,3.68,3.68,0,0,0,3.1-1.4v1.2h1.9Zm-7.8,0a3,3,0,1,1,3,3.2A2.94,2.94,0,0,1,129,92.7Z"/><g id="_Group_" data-name="&lt;Group&gt;"><rect class="cls-4" x="66.8" y="15.1" width="34.7" height="56.6"/><path id="_Path_" data-name="&lt;Path&gt;" class="cls-5" d="M70.4,43.4A36.1,36.1,0,0,1,84.1,15.1,36,36,0,1,0,61.9,79.4a35.78,35.78,0,0,0,22.2-7.7A36.1,36.1,0,0,1,70.4,43.4Z"/><path class="cls-6" d="M138.9,65.7V64.5h.5v-.2h-1.2v.2h.5v1.2Zm2.4,0V64.3h-.4l-.4,1-.4-1h-.4v1.4h.3V64.6l.4.9h.3l.4-.9v1.1Z"/><path class="cls-6" d="M142.4,43.4A36,36,0,0,1,84.2,71.7a36.08,36.08,0,0,0,0-56.6,36,36,0,0,1,58.2,28.3Z"/></g></g></g></svg>
          </div>
         <!-- <div class='fl w-25'>
                <a href="" rel="nofollow">
                	<img style="width:108px;height:41px" src="" alt="" />
                </a>
          </div>-->

          
        </div>
      </div>
    </div>
  </div>
</footer>


</div>
</div>
  {% endunless %}
  


  <script id="QuantityTemplate" type="text/template">
    {% raw %}
      <div class="js-qty">
        <input type="text" value="{{ value }}" id="{{ key }}" name="{{ name }}" pattern="[0-9]*" data-line="{{ line }}" class="js-qty__input" aria-live="polite">
        <button type="button" class="js-qty__adjust js-qty__adjust--minus" aria-label="{% endraw %}{{ 'cart.label.decrease_quantity' | t }}{% raw %}">
          {% endraw %}{% include 'icon-minus' %}{% raw %}
          <span class="icon__fallback-text">−</span>
        </button>
        <button type="button" class="js-qty__adjust js-qty__adjust--plus" aria-label="{% endraw %}{{ 'cart.label.increase_quantity' | t }}{% raw %}">
          {% endraw %}{% include 'icon-plus' %}{% raw %}
          <span class="icon__fallback-text">+</span>
        </button>
      </div>
    {% endraw %}
  </script>

  {% if template.name == 'product' %}
    <div id="ProductModal" class="modal">
      <div class="modal__inner">
        <img src="" id="ProductZoomImg" class="product-modal__image">
        <button type="button" class="modal__close js-modal-close text-link">
       		 {% include 'icon-close' %}
       		 <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
     	 </button>
      </div>
    </div>
  {% endif %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<div class="w3-container">
<!--
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content mw6 w3-animate-opacity w3-card-4 br4">
      <div class="cf w-100 h-100 br3">
        <div class="fl w-100 emailSensei cover br3 pt5-ns pt5  ph3" >
		  <p class="avenir fw5 f2-ns f4 mv0 white tc" style="line-height: 1.2;padding-top:7rem;">Get Free PDF with TOP 5 Weightlifting Mistakes and Ways to Fix Them</p>
          <form id="subscription" class="cf w-100" action="javascript:void(0);">
            <div id="subscriptionInput" class="cf mw7-ns center mw6 pa2 w-100">
              <p id="errorInSubscrEmail" class="hide white">Please enter a valid e-mail</p>
              <p id="confirmEmailSent" class="hide white">You are subscribed! Stay tuned</p>

            <i class="f1 w-20 tc  fl fa fa-envelope-o white" aria-hidden="true" style="font-size:2rem"></i>
            <input type="email" id="subscriptionEmail" name="subscriptionEmail" class="fr br3  center tl w-80" placeholder="Enter your best email"/>
            </div>
            <div class="cf w-100">
              <div class="fr-ns cf w-50-ns pa2 mw6 center w-100">
             <input id="submitSubscriptionEmail" class="w-100 pa2 bg-red ba b--red white fw6 subscriptionBtnYes" type="button"  name="submit" value="Get My PDF">
              </div>
              <div class="fr-ns cf w-50-ns pa2 mw6 center w-100">
                <button class="w-100 pa2 white subscriptionBtnNo" onclick="closeModal()">No, thanks</button>
              </div>
            </div>

          </form>
		</div>

      </div>
    </div>
  </div>
-->
</div>

    <script>
    let URL_1 = '';
    if (window.location.href.includes('collections/seminars')) {
        URL_1 = 'https://hooks.zapier.com/hooks/catch/2032528/ac55w4/'
        }
    else if (window.location.href.includes('/products/training-camp')){
        URL_1 = 'https://hooks.zapier.com/hooks/catch/2032528/98uw2a/'
    	}
    else if (window.location.href.includes('/pages/certification')){
        URL_1 = 'https://hooks.zapier.com/hooks/catch/2032528/ac03fo/'
    	}
    else if ((window.location.href.includes('/nutrition-male-weight-gain') ||
             window.location.href.includes('/nutrition-female-weight-loss-1') ||
             window.location.href.includes('/nutrition-female-weight-gain') ||
             window.location.href.includes('/nutrition-male-weight-loss'))){
        URL_1 = 'https://hooks.zapier.com/hooks/catch/2032528/a0q926/'
    	}
     else if ((window.location.href.includes('/amateur-training-program') || 
              window.location.href.includes('/deadlift-cycle') || 
              window.location.href.includes('/female-training-program') || 
              window.location.href.includes('/leg-strength') || 
              window.location.href.includes('/champion') || 
              window.location.href.includes('/male-training-program') || 
              window.location.href.includes('/training-programs/products/pro') || 
              window.location.href.includes('/programa-de-treinamento-masculino') || 
              window.location.href.includes('/video-analysis'))){
         URL_1 = 'https://hooks.zapier.com/hooks/catch/2032528/a0q926/'
        }

      let webhookBtn = document.querySelector('#contact_form input[type="submit"]')
      
      function sendData() {
        if (!document.querySelector('.errors')){
          $.ajax({
                    url: URL, // url where to submit the request
                    type : "POST", // type of action POST || GET
                    dataType : 'json', // data type
                    data : $("#contact_form").serialize(),  // post data || get data
                    success : function(result) {
                    // you can see the result from the console
                    // tab of the developer tools
                    //$(window).scrollTop(0);
                      console.log('done')
                    },
                    error: function(xhr, resp, text) {
                        console.log(xhr, resp, text);
                    }
                }) 
        }
      	console.log(URL)
      }
      
      if (webhookBtn) {
      	webhookBtn.addEventListener('click', sendData)
      };
    
  </script>
  
  
  <script>
  function closeModal() {
  	$('#id01').css('display','none')
	// Store
	localStorage.setItem("emailModal", "closed");
  }
    
  $(document).ready(function(){
    if (localStorage.getItem("emailModal")!="closed") {
      setTimeout(function(){
		document.getElementById('id01').style.display='block';
   	  },90000); 
    }
        // click on button submit
    $("#submitSubscriptionEmail").on('click', function(){
      var email=$('#subscriptionEmail').val();
          
      if (email.indexOf("@")==-1) {
        $("#confirmEmailSent").addClass("hide");  
        $("#errorInSubscrEmail").removeClass("hide")
      } else {
		$("#errorInSubscrEmail").addClass("hide")

        $.ajax({
          url: 'https://hooks.zapier.com/hooks/catch/2032528/19ubgl/', // url where to submit the request
          type : "POST", // type of action POST || GET
          dataType : 'json', // data type
          data : $("#subscription").serialize(),  // post data || get data
          success : function(result) {
            $("#confirmEmailSent").removeClass("hide"); 
            setTimeout(function(){
              closeModal()
 			},1000); 
          },
          error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
          }
        })               
                  
       } 
     });
        
    });
  </script>
  
  
  

  {%comment%}
  <!--<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/138b5c441b71b757fff75ba6c/1302f141bd66b2c286d9bac2f.js");</script>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/138b5c441b71b757fff75ba6c/21cb391c3467424fadb08eec5.js");</script>-->
  {%endcomment%}
  
  {% include 'swymSnippet' %}

  <!--Gem_Page_Footer_Script-->
  {% include 'gem-app-footer-scripts' %}
  <!--End_Gem_Page_Footer_Script-->
  
  {%comment%}
    {%- if template.name == 'product' -%} <script> sendFbEvent('track', 'AddToCart')</script>{%- endif -%}
    {%- if template.name == 'index' or template.name == 'page' or template.name == 'collection' or template.name == 'article' -%} <script> sendFbEvent('track', 'ViewContent'); </script>{%- endif -%}
    {%- if template.name == 'cart' -%} <script>sendFbEvent('track', 'InitiateCheckout');</script>{%- endif -%}
	{%- if template.name == 'product' -%} <script> sendFbEvent('track', 'ViewContent')</script>{%- endif -%}
  {%endcomment%}
  
  {%- if template.name == 'product' and product.handle == 'overhead-mobility-online-course' -%}
    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '653613965981815');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=653613965981815&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
  {%- endif -%}

  <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TK6HRGK" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  {% if content_for_header contains 'product_label' %}{% include 'bss-product-label-js' %}{% include 'bss-label-style-css' %}{% endif %}
  <style>
    .jdgm-preview-badge {
    text-align: center !important;
    }
      </style>
 
                  <script>
console.log('Page: {{ template }}');
console.log('Handle: {{ product.handle }}{{collection.handle}}{{page.handle}}{{blog.handle}}{{article.handle}}');
</script>
                  
<!-- XO-InsertCode -->
{% include "xo-insertcode-footer" %}
<!-- End: XO-InsertCode Footer-->
 {% render 'paywhirl-main' %}
</body>
</html>
        <!-- Start-MakeAnOffer version: 7 -->
        <script>
          var makeAnOfferData = (function() {
            var data = {
              product: null,
              cartProducts: [],
              currency_iso_code: "{{ currency.iso_code }}",
              settings: {{ shop.metafields.make_an_offer.user_setting | json }},
              customer_email: "{{ customer.email }}"
            };

            {% if product %}
              data.product = (function() {
                var mf_featured_image = "{{ product.selected_or_first_available_variant.featured_image | default: product.featured_image | img_url: '1024x1024'}}";
                var mf_other_image = "{{ product.images.first | img_url: '1024x1024' }}";
                return {
                  title: {{ product.title | json }},
                  price: "{{ product.price | money_without_currency }}",
                  currency: '{{ shop.money_format }}',
                  image: mf_featured_image || mf_other_image,
                  variants: {{ product.variants | json }},
                  tags: {{ product.tags | json }},
                  collections: {{ product.collections | json }},
                  url: "{{ product.url | within: collections.all }}",
                  available: {{ product.available }}
                }
              })();
            {% endif %}

            {% if cart.items.size > 0 %}
              {% for item in cart.items %}
                data.cartProducts.push(function() {
                  return {
                    title: {{ item.product.title | json }},
                    price: "{{ item.price | money }}",
                    image: "{{ item | img_url: '1024x1024' }}",
                    variants: {{ item.variants | json }},
                    variant_id: "{{ item.variant.id }}",
                    url: "{{ item.url | within: collections.all }}",
                    sku: "{{ item.sku }}",
                    tags: {{ item.product.tags | json }},
                    collections: {{ item.product.collections | json }},
                    available: {{ item.product.available }}
                  }
                }());
              {% endfor %}
            {% endif %}

            return data;
          })();

        </script>
        <!-- End-MakeAnOffer -->
