<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <script type="text/javascript" src="http://classic.avantlink.com/affiliate_app_confirm.php?mode=js&authResponse=300205dbbaea4bfce3c92650dbece250b886d739"></script>
     <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]function(){(c[a].q=c[a].q[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "da1ddly1c3");
</script>
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TK6HRGK');</script>
  <!-- End Google Tag Manager -->
 
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/138b5c441b71b757fff75ba6c/1302f141bd66b2c286d9bac2f.js");</script>
  <meta name="p:domain_verify" content="a4e4722eace54c37b43db4fc43f09bbe"/>
  <meta name="google-site-verification" content="bXQdnfCitrdYeoHlpHXo_rh1VDUZnSbthrB2qpW7n74" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_header_bg }}">
  <link rel="shortcut icon" href="{{ 'favicon.beginning.png' | asset_url }}" type="image/png" />
  <meta name="facebook-domain-verification" content="189mxt2y2qrj177cao3frgmzi084or" />

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  
  {{ 'torokhtiy.scss.css' | asset_url | stylesheet_tag }}
  
  {{ 'tachyons.min.css' | asset_url | stylesheet_tag }}

  {{ 'tachyons-flexbox.min.css' | asset_url | stylesheet_tag }}


  {% include 'google-fonts' %}
  <meta name="google-site-verification" content="cTZBMyEu0kYq6isRCT2psPuhVJyxItzy1pV_sS-_CtE" />

  {% if template contains 'collection' %}
	<link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
	<link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}
  
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  
  {%- capture contentForQuerystring -%}{{ content_for_header }}
            {% render 'tpa_script' %}{%- endcapture -%}
  {%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |
     replace:'\/','/' | 
     replace:'+',' ' | 
     replace:'\u0026','&'
  -%}
  {% if pageUrl contains '?page=' %}<!--<meta name="robots" content="noindex,follow"/>-->{% endif %}


  {% include 'social-meta-tags' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
		  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		  crossorigin="anonymous"></script>

  <script>
    window.theme = window.theme || {};

    theme.strings = {
      stockAvailable: {{ 'products.product.stock_available' | t: count: '1' | json }},
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      noStockAvailable: {{ 'products.product.stock_unavailable' | t | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      totalCartDiscount: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }}
    };
    
    localStorage.setItem('full_cost_for_free', {{cart.total_price}})
  </script>
  
  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  {% if template.name == 'product' or template.name == 'cart' %}
    <script>
      window.theme = window.theme || {};
      theme.moneyFormat = {{ shop.money_format | json }};
    </script>
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {% render 'treedify' %}{{ content_for_header }}

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

  {% if customer %}
  <script>
    FS.identify('{{customer.email}}', { displayName: '{{customer.email}}', email: '{{customer.email}}' });
  </script>
  {% endif %}
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
  {% if handle contains 'test-1' %}
    <meta name="robots" content="noindex">
  {% endif %}
  {% if handle contains 'personal-coaching' %}
	<meta name="robots" content="noindex">
  {% endif %}	

  <script src="https://use.fontawesome.com/ac69f17e75.js" async></script>

  {% if template == "customers/account" %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
			integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			crossorigin="anonymous"></script>
  {% endif %}

  {% if template == "page.testform" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/pikaday.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/css/pikaday.min.css" />
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
  
  {% endif %}


  {% if template.name =='photos_from_seminars' %}
    <meta name="robots" content="noindex">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  {% endif %}
  {% if template == 'product.nutrition' %}
     <script  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
  {% endif %}
  {% unless template contains 'product' %}
    <!-- slick slider from home page -->
    <script src="{{ 'slick.min.js' | asset_url }}"></script>
    {{ 'slick.css' | asset_url | stylesheet_tag }}

    <script type="text/javascript">
      $(document).ready(function(){
        $('.basicProgramsSlider').slick({
          slidesToShow: 3,
          autoplay: true,
  		  autoplaySpeed: 2000,
          arrows:true,
          dots: true,
          dotsClass: 'white slick-dots',
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 2024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
                infinite: true,
                dots: true
              }
            },
            {
              breakpoint: 1100,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 700,
              settings: "unslick"
             }
  		  ]
        });
      });
     </script>  
  {% endunless %}

  <!--//end--> 
  
  <!-- start Heap tracking code-->
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("4202300277");
  </script>
  <!-- end Heap -->
  

  <script>
    function returnEventHandler () {
    const delayForShow = 300
    const delayForHide = 3000
    let status = 'hide' // hide, show, pending
    let first = false
    let container = null

    let hideTimeout = null
    
    function showContainer (price) {
      container = document.getElementById('totalPrice')
      var upToFreeShipping = $(container);
      if (!first) {
        first = true;
        container.hidden = false;
        upToFreeShipping.html(
          $(price >= 7500 ? 
            "<span style='color: #928282; font-size: 14px'>" +
              "<span id='total_price_info'>Congratulations! You've got free shipping (USA only)</span></span>"
            :
            "<span style='color: #928282; font-size: 14px'>" +
              "<span id='total_price_info'>Only " +
              "<span style='color: #f42727'>$" + (7500 - Number(price)) / 100 + "</span>" + " away from free shipping (USA only)" + 
            "</span></span>"
          )
        )
      } else {
        container.hidden = false
        if ( Number(price) >= 7500 ) {
        	$('#total_price_info').text("Congratulations! You've got free shipping (USA only)")
        } else {
        	/*$('#total_price_info').html("Only " + "<span style='color: #f42727'>$" + (7500 - Number(price)) / 100 + "</span>" + " away from free shipping (USA only)");*/
        }
      }
      status = 'show'
      hideTimeout = setTimeout(hideContainer, delayForHide)
    }
    function hideContainer () {
      container.hidden = true
      status = 'hide'
    }
    return function (event) {
      const price = event.detail
      if (status === 'hide') {
        status = 'pending'
        setTimeout(showContainer, delayForShow, price)
      }
      if (status === 'show') {
        clearTimeout(hideTimeout)
        hideTimeout = setTimeout(hideContainer, delayForHide)
        if ( Number(price) >= 7500 ) {
        	$('#total_price_info').text("Congratulations! You've got free shipping (USA only)")
        } else {
        	$('#total_price_info').html("Only " + "<span style='color: #f42727'>$" + (7500 - Number(price)) / 100 + "</span>" + " away from free shipping (USA only)");
        }
      }
    }
  }
    
    function renderFullCost() {
      
      try {
        
		document.body.addEventListener('full_cost_for_free_change', returnEventHandler());
      

      	let upToFreeShipping = $('#totalPrice');
      	if (!localStorage.getItem('full_cost_for_free') || localStorage.getItem('full_cost_for_free') == 0) {
      		upToFreeShipping.prepend(
              $( 
                "<span style='color: #928282; font-size: 14px'>" /* +
                "<span id='total_price_info'>Free shipping for orders over <span style='color: #f42727'>$99 (USA only)</span></span></span>"*/
              )
              )
        } else if (7500 > localStorage.getItem('full_cost_for_free') > 0) {
          upToFreeShipping.prepend(
          	$(
        		"<span style='color: #928282; font-size: 14px'>" +
                "<span id='total_price_info'>Only " /*+
                "<span style='color: #f42727'>$" + (7500 - localStorage.getItem('full_cost_for_free')) / 100 + "</span>" + " away from free shipping (USA only)" + 
                "</span></span>"*/
            )
          )
        } else if(localStorage.getItem('full_cost_for_free') >= 7500) {
        	upToFreeShipping.prepend(
              $(
                  "<span style='color: #928282; font-size: 14px'>" /*+
                  "<span id='total_price_info'>Congratulations! You've got free shipping (USA only)</span></span>"*/
              )
          )
        }
      
		setTimeout(function hide() {upToFreeShipping[0].hidden = true}, 5000);
      
      } catch (e) {}
      
  	};
  
    $(function() {
      setTimeout(renderFullCost, 2000);
    })
  </script>
  
{% include 'geolocationredirect_snippet' %}
  {% if template contains 'big-video-library' or template == "page.video" or template contains 'video-library' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>VideoLibrary</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
      {{ 'tachyons-flexbox.min.css' | asset_url | stylesheet_tag }}
      {{ 'tachyons.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {{ 'react-select.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'videos.js' | asset_url }}"></script>
    <script src="{{ 'filterTags.js' | asset_url }}"></script>
    <script src="{{ 'english.js' | asset_url }}"></script>
    <script src="{{ 'espanol.js' | asset_url }}"></script>
  {% endif %}

<!--Gem_Page_Header_Script-->
{% include 'gem-app-header-scripts' %}
<!--End_Gem_Page_Header_Script-->
<!--<script src="https://cdn.gravitec.net/storage/9a1f5ba26b91785bc81443dcb64c17db/client.js" async></script>-->
 <script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=6214104e450a7' async='true'></script> 
<!-- Reddit Pixel -->
<script>
!function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','t2_ap74j0is');rdt('track', 'PageVisit');
</script>
<!-- DO NOT MODIFY -->
<!-- End Reddit Pixel -->
  <script>rdt('track', 'PageVisit')</script>
  <script>rdt('track', 'ViewContent')</script>
  <script>rdt('track', 'AddToCart')</script>
  <script>rdt('track', 'Purchase')</script>
  




                  {% include 'bss-product-labels-configs' %}
                      {%- render 'bold-subscription-widget' -%}
{% include 'swift_core' %} 
 <!-- XO-InsertCode -->
{% include "xo-insertcode-header" %}
<!-- End: XO-InsertCode Header-->

      {% include 'judgeme_core' %}

      {% if handle contains 'male-weightlifting-2-0-week-1' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-2' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-3' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-4' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-5' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-6' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-7' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-8' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'male-weightlifting-2-0-week-9' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-1' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-2' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-3' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-4' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-5' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-6' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-7' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-8' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-9' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-10' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-11' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'strong-core-lesson-20' %}
<meta name="robots" content="noindex">
{% endif %}
{% if handle contains 'untitled-dec-30-13-29-22' %}
<meta name="robots" content="noindex">
{% endif %}

<style>
#tidio-chat-iframe { bottom: 70px !important; }
@media only screen and (max-width: 980px) {
 #tidio-chat-iframe { bottom: 50px !important;}
}
</style>

{% render 'e-custom-pages-google-tag-manager' %}
  
{% render 'gp-head' %}
</head>
             

<body data-instant-intensity="viewport"  class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >{% capture ICART_FULL_PAGE_LAYOUT %}{{ content_for_layout }}{% endcapture %}</body>
</html>
        <!-- Start-MakeAnOffer version: 7 -->
        <script>
          var makeAnOfferData = (function() {
            var data = {
              product: null,
              cartProducts: [],
              currency_iso_code: "{{ currency.iso_code }}",
              settings: {{ shop.metafields.make_an_offer.user_setting | json }},
              customer_email: "{{ customer.email }}"
            };

            {% if product %}
              data.product = (function() {
                var mf_featured_image = "{{ product.selected_or_first_available_variant.featured_image | default: product.featured_image | img_url: '1024x1024'}}";
                var mf_other_image = "{{ product.images.first | img_url: '1024x1024' }}";
                return {
                  title: {{ product.title | json }},
                  price: "{{ product.price | money_without_currency }}",
                  currency: '{{ shop.money_format }}',
                  image: mf_featured_image || mf_other_image,
                  variants: {{ product.variants | json }},
                  tags: {{ product.tags | json }},
                  collections: {{ product.collections | json }},
                  url: "{{ product.url | within: collections.all }}",
                  available: {{ product.available }}
                }
              })();
            {% endif %}

            {% if cart.items.size > 0 %}
              {% for item in cart.items %}
                data.cartProducts.push(function() {
                  return {
                    title: {{ item.product.title | json }},
                    price: "{{ item.price | money }}",
                    image: "{{ item | img_url: '1024x1024' }}",
                    variants: {{ item.variants | json }},
                    variant_id: "{{ item.variant.id }}",
                    url: "{{ item.url | within: collections.all }}",
                    sku: "{{ item.sku }}",
                    tags: {{ item.product.tags | json }},
                    collections: {{ item.product.collections | json }},
                    available: {{ item.product.available }}
                  }
                }());
              {% endfor %}
            {% endif %}

            return data;
          })();

        </script>
        <!-- End-MakeAnOffer -->
