<div style="height:100%">    
<div class="content-block" style="padding:0px">
  <h1 class="pt0-l w-100 tc mb0">  TOROKHTIY <span class="red">CAMP</span> </h1>

<div class="w-100 pt4-l cover" style=" height:700px; background:url(https://cdn.shopify.com/s/files/1/1806/0489/files/campBg.jpg?1308622363835211291) 50% 50% no-repeat; background-size: 100% 100%;">

  <div class="page-width h-100" style="padding:0px"> 
  <div class="cf w-100 bg-white mw7-m mw9-l center shadow-2-l" style="height:640px">
  <img class="fl  w-30-l w-100 cover h-100-l h-50-m h-25 shadow-2-m" style="background:url(https://cdn.shopify.com/s/files/1/1806/0489/files/campImage.jpg?16806989799809582796) 50% 10% no-repeat; background-size: 100% 100%;">
  
  <div class="fl w-70-l w-100 pa3-ns ph3 pb4 pt0 f5 shadow-2-m mb6-m mb5 mb0-l h-auto h-100-l bg-white" style="height: auto;">
    <div class="cf w-100">
    <div class="header cf tc w-100">
      <div class="date fl w-25-ns w-100 tc">
        <div class="w-90 center pa2 br2 ba b--light-gray">
          <i class="red fa fa-calendar-plus-o" aria-hidden="true"></i>
          <span> Apr 19-29</span>
        </div>
      </div>
      <div class="place fl w-60-ns w-100 tc">
        <div class="w-90 center pa2 br2 ba b--light-gray">
          <i class="red fa fa-map-marker" aria-hidden="true"></i>
          <span> Ukraine, Kyiv, Olympic Training Center</span>
        </div>
      </div>
      <div class="place_link pa2 tl-ns red fl w-10-ns w-100 tc">
        <a href="https://www.google.com.ua/maps/place/%D0%A2%D1%80%D0%B5%D0%BD%D1%83%D0%B2%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0+%D0%B1%D0%B0%D0%B7%D0%B0+%22%D0%94%D0%B8%D0%BD%D0%B0%D0%BC%D0%BE%22+(%D0%9A%D0%B8%D1%97%D0%B2)/@50.322277,30.562551,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4c713b4ea8757:0x3a05ad1e2597567c!8m2!3d50.322277!4d30.564745">On map</a>
      </div>
    </div>
    <div class=" cf mv3  w-100" style="background-color:#f9f9f9; font-size: 1rem;line-height: 1.5rem;text-align: justify; height: auto;">
      <div class="tc fl pv2" style="width:5%"><i class="red fa fa-circle-o"  aria-hidden="true"></i></div>
      <div class="w-90 fl pa2 "style="width:95%">YOU are welcome to join us at the WARM BODY COLD MIND TRAINING CAMP this summer! Where else can you get a chance to live for 2 weeks in the heart of the Olympic weightlifting "manufactory", where the steel strength, immense power, and adamant will were tempered from 20 years of hard work?</div>
      <div class="tc fl pv2 " style="width:5%"><i class="red fa fa-circle-o"  aria-hidden="true"></i></div>
      <div class="w-90 fl pa2 "style="width:95%">In the very center of the forge... where many champions honed their skills!</div>
      <div class="tc fl pv2" style="width:5%"><i class="red fa fa-circle-o"  aria-hidden="true"></i></div>
      <div class="w-90 fl pa2 "style="width:95%">A very common question is: "What will my competitive preparation look like?". The best and only way to understand the preparatory process is to attend the training camp, where you can learn to understand yourself and become intimately familiar with the weights we use.</div>
      <div class="tc fl pv2 " style="width:5%"><i class="red fa fa-circle-o"  aria-hidden="true"></i></div>
      <div class="w-90 fl pa2 "style="width:95%">It doesn't matter if you are only a beginner or a pro athlete, the training program will accommodate your individual level.</div>
      <div class="tc fl pv2 " style="width:5%"><i class="red fa fa-circle-o"  aria-hidden="true"></i></div>
      <div class="w-90 fl pa2 "style="width:95%">Language: ENGLISH. In this way we'll have a chance to share our thoughts and experiences together.</div>
      <div class="tc fl pv2 " style="width:5%"><i class="red fa fa-circle-o"  aria-hidden="true"></i></div>
      <div class="w-90 fl pa2 "style="width:95%">During my 16 years of training, I have spent over 80% of my time in training camps, and there is no better way to understand it, feel it, breathe it and live it.</div>
      

    </div>
      
      <div  onclick="document.getElementById('ask').scrollIntoView()" class="cf dn db-l w-100 CTA mw5-ns center tc" style="color: white;
font-size: 1.25rem;
border-radius: 5px;

 background-color:#f42727;

padding-top: 12px;
padding-right: 20px;
padding-bottom: 12px;
padding-left: 20px;
line-height: 14px;
cursor: pointer;">
      REGISTER
    </div>
    </div>
  </div>
  </div>

  </div>
    

    
    
    
    
</div>
</div>
        <p id="ask"></p>

  
        <div class=" content-block page-width">
    <div  class="contact-form form-vertical">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

      <h1 class="center tc w-100 mb4">If you have any questions, ask Aleksey</h1>
      <form id="form">

      <div class="fl w-50-l w-100 ">
        <div class="myPopupContentTitle"> 
          <span style="letter-spacing: 1rem;font-weight: 600;margin-left: 1rem;">I WANT</span> 
          <p>TO</p> 
          <div class="logoredtext" style="font-weight: 600;">TOROKHTIY</div> 
          <span class="logoredtext" style="font-weight: 800;letter-spacing: 2rem;text-align: center;margin-left: 2rem;">CAMP</span> </div>
      </div>
      <div class="fl w-50-l w-100 ">

        <div class="grid grid--half-gutters">
          <div class="grid__item medium-up--one-half">
            <label for="name" class="label--hidden">{{ 'contact.form.name' | t }}</label>
            <input type="text" id="name" name="name" placeholder="{{ 'contact.form.name' | t }}" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>
          <div class="grid__item medium-up--one-half">
            <label for="email" class="label--hidden">{{ 'contact.form.email' | t }}</label>
            <input type="email" id="email" name="email" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
          </div>
        </div>

        <label for="message" class="label--hidden">{{ 'contact.form.message' | t }}</label>
        <textarea rows="3" id="message" name="message" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
 			<div class="controlArea"> 
              <div class="controlAreaTitle">Language</div> 
              <div class="radioWrap"> 
                <label class="langBtn" style="display:inline-block;" for="campLangEn">En
                <input type="radio" name="campLang" style="display:none" value="en" id="campLangEn" data-fieldname="lang" data-fieldrequired="true" type="radio"> 
                </label> 
              </div> 
              <div style="display:inline-block; width:auto;"> 
              <label  class="langBtn" for="campLangRu">Ru
              <input type="radio" name="campLang" style="display:none" value="ru" id="campLangRu" data-fieldname="lang" type="radio"> 
              </label>
              </div> 
        </div>
      </div>
        <input  id="submit" class="btn" style="background-color:#df1f1f, font-family:'Droid Sans','HelveticaNeue','Helvetica Neue',sans-serif; font-size:1.25rem" value="{{ 'contact.form.send' | t }}">
      </form>
        <script>
        $(document).ready(function() {
    $('label').click(function() {
        $('label').removeClass('redBackground');
        $(this).addClass('redBackground');
    });
});
            $(document).ready(function(){


        // click on button submit
        $("#submit").on('click', function(){
          
		
            // send ajax
            $.ajax({
                url: 'https://hooks.zapier.com/hooks/catch/2032528/1y74fm/', // url where to submit the request
                type : "POST", // type of action POST || GET
                dataType : 'json', // data type
                data : $("#form").serialize(),  // post data || get data
                success : function(result) {
                    // you can see the result from the console
                    // tab of the developer tools
                  console.log(result)
                    $("#confirmation").css("display", "block");  
                  $(window).scrollTop(0);
                },
                error: function(xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            })
        });
    });
        
        
      </script>
    </div>
  </div>

  {% section 'featured-products-subsection' %}
</div>
