<div class="page-width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="">
    <div class="rte rte--indented-images">
      {{ page.content }}
      
<style>
  .tableTraning{
  border-collapse: separate;
  }
  .tableTraning tr:nth-child(even) {
    background: #FFF;
  }
  .tableTraning tr:nth-child(odd) {
    background: #f5f4f9;
  }
  .tableTraning thead td {
    border-top: 1px solid red;
    padding: 20px 0;
    background: #fff;
  }
  .tableTraning thead td.none {
    border: none;
  }
  .tableTraning tr:last-child td:first-child {
    border-bottom: none;
  }
  .tableTraning tbody td {
    border-right: 1px solid #dddddd;
    width: 25%;
  }
  .tableTraning td {
    text-align: center;
  }
  .tableTraning td:first-child {
    text-align: left;
  }
  .tableTraning tr:last-child td {
    border-bottom: 1px solid #dddddd;
  }
  .traningBlock ul{
    margin: 15px 0;
    padding:0;
    list-style: none;
    text-align: left;
  }
  .traningBlock ul li::before {
      content: "\2714";
      position: absolute;
      top: 0px;
      left: -18px;
      color: #636363;
      font-family: fontello;
  }
  .traningBlock ul li {
      font-size: 14px;
      line-height: 18px;
      color: #000;
      margin-bottom: 5px;
  	  margin-left: 30px;
      margin-right: 15px;
      position: relative;
      z-index: 1;
      letter-spacing: 0.35px;
  }
  .traningBlock .price{
  	color: red;
  }
  .traningBlock .abBlock{
  	top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    color: #fff;
  }
.traningBlock .blockTop {
    padding-top: 30px;
}
.traningBlock .blockBorderRed {
    border-top: 3px solid red;
    width: 35%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}
  
@media screen and (min-width: 600px) {
    .eventCard {
        height: 420px
    }
} 
@media screen and (max-width: 600px) {
    .eventCard {
        height: 420px
    }
  .relative-ns{
  	    position: relative;
  }
  .absolute-ns{
  	position: absolute;
  }
  
  
  
  
  
  .tableTraning tbody tr {
    display: block;
}

.tableTraning .titleTableRow {
    display: block;
    width: 100%;
    border: none;
    background: #f5f4f9;
    text-align: center !important;
}
.tableTraning tbody tr td {
    width: 33.333333%;
    display: inline-block;
    float: left;
}
.tableTraning tbody tr td:last-child{
    border-right: none;
}
.tableTraning tbody td {
    border-right: 2px solid #f5f4f9;
}  
.tableTraning thead {
    display: block;
}
  
}

  
</style>
      
 <div class="page-width traningBlock">  
   
<div class="fl w-third-l pa1-ns pb3 w-50-m w-100 ">
  <div class="shadow-4 ">
    <div class="cf w-100 eventCard">
      <div class="relative-ns">
        <a class="w-100" href="/collections/seminars/products/belgium-brussels">
          <img class="w-100" style="overflow: hidden; max-width:100%; height:auto" src="{{ 'traning-block-fon.jpg' | asset_url }}" alt="Belgium, Brussels">
        </a>
        <div class="absolute-ns w-100 abBlock">
          <div class="fl w-100 f5 f4-ns pl2 fw6 blockTop">
            Basic programs
          </div>
          <div class="blockBorderRed"></div>
          <div class="fl f5 f4-ns pl2 w-100 blockBottom">
            9 programs
          </div>
        </div>
      </div>
      <div class="w-100 mb2">
        <ul class="ratesItemList2 ml4">
								<li>12+2 weeks training program</li>
								<li>Includes general preparatory (4 weeks each), basic and precompetitive cycles</li>
								<li>Detailed description of each week</li>
								<li>Good for complex competition preparation</li>
								<li>2 additional weeks for FREE</li>
						  </ul>
      </div>
      <div class="w-100 tc">
        <span class="price">from $20 - to $30</span>
      </div>
      <div class="w-100 tc ph3">
        <a class="btn product-card-btn" href="#">View all</a>
      </div>

    </div>
  </div>
</div>
<div class="fl w-third-l pa1-ns pb3 w-50-m w-100 ">
  <div class="shadow-4 ">
    <div class="cf w-100 eventCard">
      <div class="relative-ns">
        <a class="w-100" href="/collections/seminars/products/belgium-brussels">
          <img class="w-100" style="overflow: hidden; max-width:100%; height:auto" src="{{ 'traning-block-fon.jpg' | asset_url }}" alt="Belgium, Brussels">
        </a>
        <div class="absolute-ns w-100 abBlock">
          <div class="fl w-100 f5 f4-ns pl2 fw6 blockTop">
            Subscription programs
          </div>
          <div class="blockBorderRed"></div>
          <div class="fl f5 f4-ns pl2 w-100 blockBottom">
            2 programs
          </div>
        </div>
      </div>
      <div class="w-100 mb2">
        <ul class="ratesItemList2 ml4">
								<li>12+2 weeks training program</li>
								<li>Includes general preparatory (4 weeks each), basic and precompetitive cycles</li>
								<li>Detailed description of each week</li>
								<li>Good for complex competition preparation</li>
								<li>2 additional weeks for FREE</li>
						  </ul>
      </div>
      <div class="w-100 tc">
        <span class="price">from $20 - to $30</span>
      </div>
      <div class="w-100 tc ph3">
        <a class="btn product-card-btn" href="#">View all</a>
      </div>

    </div>
  </div>
</div>
<div class="fl w-third-l pa1-ns pb3 w-50-m w-100 ">
  <div class="shadow-4 ">
    <div class="cf w-100 eventCard">
      <div class="relative-ns">
        <a class="w-100" href="/collections/seminars/products/belgium-brussels">
          <img class="w-100" style="overflow: hidden; max-width:100%; height:auto" src="{{ 'traning-block-fon.jpg' | asset_url }}" alt="Belgium, Brussels">
        </a>
        <div class="absolute-ns w-100 abBlock">
          <div class="fl w-100 f5 f4-ns pl2 fw6 blockTop">
            Personal programs
          </div>
          <div class="blockBorderRed"></div>
          <div class="fl f5 f4-ns pl2 w-100 blockBottom">
            2 programs
          </div>
        </div>
      </div>
      <div class="w-100 mb2">
        <ul class="ratesItemList2 ml4">
								<li>12+2 weeks training program</li>
								<li>Includes general preparatory (4 weeks each), basic and precompetitive cycles</li>
								<li>Detailed description of each week</li>
								<li>Good for complex competition preparation</li>
								<li>2 additional weeks for FREE</li>
						  </ul>
      </div>
      <div class="w-100 tc">
        <span class="price">from $20 - to $30</span>
      </div>
      <div class="w-100 tc ph3">
        <a class="btn product-card-btn" href="#">View all</a>
      </div>

    </div>
  </div>
</div>   
   
</div>
   
   
   
   
   </div>    
<div class="page-width">  
  
<h1 class="pt0-l w-100 mb3 mt5">   COMPARISON TABLE </h1>
   
<table class="tableTraning">
    <thead>
      <tr>
      <td class="none"></td>
      <td>Basic programs</td>
      <td>Subscription programs</td>
      <td>Personal programs</td>
      </tr>
  </thead>
<tbody>
<tr>
<td class="titleTableRow">Lorem ipsum *</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="titleTableRow">Lorem ipsum *</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="titleTableRow">Lorem ipsum *</td>
<td>&nbsp;</td>
<td><i class="f3 fa fa-check green" aria-hidden="true"></i></td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="titleTableRow">Lorem ipsum dolor *</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><i class="f3 fa fa-check green" aria-hidden="true"></i></td>
</tr>
<tr>
<td class="titleTableRow">Lorem ipsum *</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="titleTableRow">Lorem ipsum *</td>
<td><i class="f3 fa fa-check green" aria-hidden="true"></i></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="titleTableRow">Lorem ipsum *</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td><i class="f3 fa fa-check green" aria-hidden="true"></i></td>
</tr>
<tr>
<td class="titleTableRow">Lorem ipsum *</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="titleTableRow">Lorem ipsum *</td>
<td><i class="f3 fa fa-check green" aria-hidden="true"></i></td>
<td>&nbsp;</td>
<td><i class="f3 fa fa-check green" aria-hidden="true"></i></td>
</tr>
</tbody>
</table>
      
   </div>    
      
    </div>
  </div>

  {% section 'featured-products-subsection' %}
</div>