<div class="page-width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="content-block">
    <div class="rte rte--indented-images">
      {{ page.content }}


<div class="pager">
	<div class="icon-wrap active" id="kg-btn">
		<div class="icon-kg"></div>
	</div>
	<div class="icon-wrap " id="lbs-btn">
		<div class="icon-lbs"></div>
	</div>
</div>
<div class="map-wrap">
	<div id="map1" class="maps active"></div>
</div>
<h2><span style="font-weight: 400;"><strong>Our methodology
</strong></span></h2>
<p>The <a href="https://en.wikipedia.org/wiki/Wilks_coefficient" class="">Wilks Score</a> (the strength score we used), also known as the Wilks Coefficient, is a formula used in powerlifting to compare the strength levels of lifters of different bodyweights. It allows for fair comparisons to be made between individuals of different sizes, essentially allowing for an "pound for pound" comparison of strength.</p>
<p>To gauge the strength level of each state, we took the top 10 Wilks scores from athletes who represent their respective states in SBD (squat, bench press, and deadlift) competitions and calculated their average.  </p>
<p>The Wilks score serves as a yardstick to compare an athlete's strength to other powerlifters, regardless of their weight class or gender. <b>The higher the score, the better.</b>
</p>
  

<table class="table table-striped loader main"></table>


<p>Here you’ll find scoring tables of the powerlifters’ performance that indicate:</p>
<p><div><ul><li>The final Wilks score of each state and all time best results of athletes in each exercise (the table above).</li>
  <li>Top 10 athletes from each state, their Wilks results and the SBD results with the totals from the competition where they achieved their best Wilks score. So this is basically the raw data used for the state strength score calculation.</li>
  <li>Best results in Squat, Bench press, and Deadlift exercises from each state and divided into male and female categories. These are the biggest registered results by each state without using the Wilks score.</li>
  </ul></div></p>
      
<p>All the used statistics were taken from the <a href="https://www.openpowerlifting.org" class=""><u>OpenPowerlifting project's official website</u></a>. You may download a copy of the data at <a href="https://data.openpowerlifting.org" class="">https://data.openpowerlifting.org</a>.</p><p></p>
  <p>The competition results with the following specifications were utilized to measure the Wilks score to define the strongest states in the USA:</p>
<p><ul><li>Event: SBD</li><li>Equipment: Raw</li><li>Drug tested: True</li><li>Age: 18+</li></ul></p>
<p><div><strong>Note:</strong> <i>SBD</i> means that the records were taken from the contests including all three exercises (squat, bench press, and deadlift). Raw means the equipment category under which the lifts were performed, that is bare knees or knee sleeves. <i>Drug tested:</i> means whether the lifter entered a drug-tested category. Age: shows the age class in which the filter falls.</div><div><br></div>
      <div>The records by each lift were taken from all powerlifting competitions, which could only include one of the 3 lifts, with the same criteria as for the previous range:</div></p>
<p><ul><li>Event: All</li><li>Equipment: Raw</li><li>Drug tested: True</li><li>Age: 18+</li></ul></p>
<h2><span style="font-weight: 400;"><strong>Top 10 athletes from each state (by their Wilks score)</strong></span></h2>   
<table class="table table-striped loader wilks-all-athletes" data-paging-limit="5"></table>
<h2><span style="font-weight: 400;"><strong>What is powerlifting: a general overview of the discipline
</strong></span></h2>
<p><div>The majority considers powerlifting as an umbrella notion for weightlifting and bodybuilding or is used interchangeably with these terms being functional strength training as well. Although, powerlifting quite differs from them and has its special properties, making it unique. So, what distinguishes it from the rest of strength-oriented disciplines?</div><div><br></div><div>Powerlifting is a separate strength sport that follows a defined structure and requirements of a powerlifting competition. There are three main exercises that you can find on the web naming as SBD which means squat, bench press, and deadlift that all done with a weighted barbell. That means you won’t see any dumbbell or kettlebell at powerlifting competitions.</div><div><br></div><div>For each of the three lifts, a powerlifter gets three attempts to make his highest possible one rep at the max. Each competitor performs all three lifts and the top lifts of each exercise are added to the competitor’s total rating. This gives athletes of different strengths a chance to win. So, even if your deadlift or squat isn’t of a proper level, you can gain your top by performing a strong bench press.</div><div><br></div><div>The final scores are compared to other competitors of the same weight class and body weight. This way the competition is fair. Also, the age is also considered in competitions.</div><div><br></div><div>Compared with weightlifting and bodybuilding, powerlifting has one major goal: to perform at best. Powerlifters don’t care about being jacked and have shredded lean muscle mass. Powerlifting is all about lifting heavy weights with three main and simple lifts. The key concern for powerlifters is to build maximum muscle strength.</div></p>      


<p>As we already mentioned, powerlifting competition includes three major lifts that are squat, bench press, and deadlift by applying a weighted barbell. Let’s describe each exercise separately and find out the proper technique for its performance.</p>
<h2><span style="font-weight: 400;"><strong>Best results in each lift (Squat, Bench Press, Deadlift) 
</strong></span></h2>      
<h3><span style="font-weight: 400;"><strong>Best Squat Results (Female athletes)</strong></span></h3>
<table class="table table-striped loader best-squat-female">
<thead>
	<tr>
		<th></th>
		<th data-type="number"></th>
		<th data-type="number"></th>
		<th></th>
	</tr>
</thead>
</table>
      <h3><span style="font-weight: 400;"><strong>Best Squat Results (Male athletes)</strong></span></h3>
<table class="table table-striped loader best-squat-male" data-paging-limit="5">
  <thead>
	<tr>
		<th></th>
		<th data-type="number"></th>
		<th data-type="number"></th>
		<th></th>
	</tr>
</thead>
</table>
<h4><span style="font-weight: 400;"><strong>Squat</strong></span></h4>
<p>It’s believed to be the king of exercises, which develops your legs more dominantly than any other exercise, by activating quads, hamstrings, and little calves, and also requires a solid tight core. The proper squat form should be parallel, with stable feet and locked knees, without bouncing. Here you are a proper technique on how to perform squatting:</p>
<p><ol><li>Grip the barbell and stand up to lift it off the rack.</li><li>Step back from the rack, setting up your feet for the lift</li><li>Lower yourself until your thighs are parallel with the floor at the max.</li><li>Raise yourself back up to the standing position.</li><li>Step forward to rerack the barbell.</li></ol></p>

<h3><span style="font-weight: 400;"><strong>Best Bench Press Results (Female athletes)</strong></span></h3>
<table class="table table-striped loader best-bench-female" data-paging-limit="5">
  <thead>
	<tr>
		<th></th>
		<th data-type="number"></th>
		<th data-type="number"></th>
		<th></th>
	</tr>
</thead>
</table>
      <h3><span style="font-weight: 400;"><strong>Best Bench Press Results (Male athletes)</strong></span></h3>
<table class="table table-striped loader best-bench-male" data-paging-limit="5">
  <thead>
	<tr>
		<th></th>
		<th data-type="number"></th>
		<th data-type="number"></th>
		<th></th>
	</tr>
</thead>
</table>

<h4><span style="font-weight: 400;"><strong>Bench press</strong></span></h4>
<p>This exercise aims to increase the power and size of your chest, by building your upper body muscles. The correct form to execute this exercise requires a flat bench, bar that touches the chest, with no bounce, and someone’s help:</p>
 <p><ol><li>Lie on a flat bench.</li><li>Grip the barbell with both hands.</li><li>Unrack the barbell and hold the bar directly above your shoulders.</li><li>Lower the barbell to your chest.</li><li>Press the barbell back to the starting position.</li></ol></p>

<h3><span style="font-weight: 400;"><strong>Best Deadlift Results (Female athletes)
</strong></span></h3>
<table class="table table-striped loader best-deadlift-female" data-paging-limit="5">
  <thead>
	<tr>
		<th></th>
		<th data-type="number"></th>
		<th data-type="number"></th>
		<th></th>
	</tr>
</thead>
</table>
      <h3><span style="font-weight: 400;"><strong>Best Deadlift Results (Male athletes)</strong></span></h3>
<table class="table table-striped loader best-deadlift-male" data-paging-limit="5">
  <thead>
	<tr>
		<th></th>
		<th data-type="number"></th>
		<th data-type="number"></th>
		<th></th>
	</tr>
</thead>
</table>
<h4><span style="font-weight: 400;"><strong>Deadlift</strong></span></h4>
<p>Deadlift is a basic hip-hinge exercise that promotes the ability to lift heavy weights off the ground. It increases the whole body's strength, endurance, and adds up confidence. The standards of deadlift performance require: straight arms, stable feet, locked knees, keeping shoulders back, and the bar always moving up. The proper technique of the exercise looks like this:</p>
<p><ol><li>Begin with the barbell on the floor.</li><li>Grip the barbell with a hook or overhand grip.</li><li>Look straight ahead and start lifting the bar controlling your movements.</li><li>Stand up and lockout.</li><li>Lower the bar down with total control.</li></ol></p>

  


<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="//datamaps.github.io/scripts/0.4.4/datamaps.usa.min.js"></script>

<script>  
  
  async function fetchAndRenderDataMap(url, weightType, containerId) {
  
  //const response = await fetch('{{ 'strongest-state.json' | asset_url | prepend: '//torokhtiy.com' | url }}');  
  const response = await fetch(url); 
  const data = await response.json();
  const weightMultiplier = weightType === "kg" ? 1 : 2.20462;
  const result = {};
  
  // ...
  
  for (let i = 0; i < data.length; i++) {
    const row = data[i];
    
    // Отримуємо необхідні дані з об'єкта
    const stateCode = row.State;
    
    const wilks_average = row["Wilks average"];
    
    const squat_m = (row["MEN Best Squat Kg"] * weightMultiplier).toFixed(2);
    const bench_m = (row["MEN Best Bench Kg"] * weightMultiplier).toFixed(2);
    const deadlift_m = (row["MEN Best Deadlift Kg"] * weightMultiplier).toFixed(2);
    
    const squat_w = (row["WOMEN Best Squat Kg"] * weightMultiplier).toFixed(2);
    const bench_w = (row["WOMEN Best Bench Kg"] * weightMultiplier).toFixed(2);
    const deadlift_w = (row["WOMEN Best Deadlift Kg"] * weightMultiplier).toFixed(2);

    // Додаємо новий запис до об'єкту
    result[stateCode] = {
      wilks_average,
      squat_m,
      bench_m,
      deadlift_m,
      squat_w,
      bench_w,
      deadlift_w,
    };
  }

  const election = new Datamap({
    scope: 'usa',
    element: document.getElementById(containerId),
    geographyConfig: {
      highlightBorderColor: '#fff',
      highlightFillColor: '#1C6EA4',
      popupTemplate: function(geography, data) {
        var i = '<div class="stats-layer '+weightType+'">';
        return i += '<h4>'+ geography.properties.name +'</h4><div class="stats"> <strong>Strength score (by Wilks average):</strong> <br> '+data.wilks_average+'</div><div class="stats"> <strong>MEN Best Results:</strong> <br> Squat: '+data.squat_m+' '+weightType+' <br> Bench Press: '+data.bench_m+' '+weightType+' <br> Deadlift: '+data.deadlift_m+' '+weightType+' </div><div class="stats"> <strong>WOMEN Best Results:</strong> <br> Squat: '+data.squat_w+' '+weightType+' <br> Bench Press: '+data.bench_w+' '+weightType+' <br> Deadlift: '+data.deadlift_w+' '+weightType+' </div></div></div>';
      },
      highlightBorderOpacity: 1,
      highlightBorderWidth: 1,
      popupOnHover: !0,
      highlightOnHover: !0
    },
    fills: {
      defaultFill: '#EEE7DB'
    },
    data: result
  });

  election.labels();

  return election;
}

  
let selectedWeightType = 'kg';

function handleWeightTypeChange() {
  const container = document.getElementById('map1');
  container.innerHTML = ''; // Очищаємо контейнер перед завантаженням нових даних
  fetchAndRenderDataMap('{{ 'strongest-state.json' | asset_url }}', selectedWeightType, 'map1');
}

const kgBtn = document.getElementById('kg-btn');
const lbsBtn = document.getElementById('lbs-btn');

kgBtn.addEventListener('click', () => {
  if (selectedWeightType !== 'kg') {
    selectedWeightType = 'kg';
    handleWeightTypeChange();
    kgBtn.classList.add('active');
    lbsBtn.classList.remove('active');
  }
});

lbsBtn.addEventListener('click', () => {
  if (selectedWeightType !== 'lbs') {
    selectedWeightType = 'lbs';
    handleWeightTypeChange();
    lbsBtn.classList.add('active');
    kgBtn.classList.remove('active');
  }
});


    /*$(".maps path").on('mouseover touch', function(){
        $('.datamaps-hoverover').addClass('active');
        $('body').addClass('data-active');

    });
    $(".maps path").on('mouseleave', function(){
        $('.datamaps-hoverover').removeClass('active');
        $('body').removeClass('data-active');

    });*/

      $(window).on('resize', function(){
        $('#map1').empty();
          const activeBlock = document.querySelector('.active');
        const activeBlockId = activeBlock.getAttribute('id');
        if (activeBlockId === 'kg-btn') {
          selectedWeightType = 'kg';
        } else if (activeBlockId === 'lbs-btn') {
          selectedWeightType = 'lbs';
        }

        handleWeightTypeChange();
    });

// Завантажуємо дані при запуску сторінки з типом ваги "кілограми" по умовчуванню
handleWeightTypeChange();

  
</script>


<style>
  #map1{
    overflow: hidden;
    height: inherit;
}
.map-wrap{ 
    width: 100%;
    max-width: 1170px;
    margin: auto;
    height: 600px;
    position: relative;
}
.datamaps-hoverover {
    /*z-index: -999 !important;*/
    pointer-events: none;
}
.datamaps-hoverover.active {
    z-index: 9999 !important;
}
.stats-layer {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    line-height: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1.4em;
    padding: 2rem 1rem 1rem;
    position: relative;
    left: 0;
    background-color: #ffffff;
    color: #000;
    /* border-radius: 20px !important; */
    max-width: 300px;
    box-shadow: 0px 0px 62px 0 rgba(0, 0, 0, 0.33);
    border: 5px solid #1C6EA4;
    width: 100%;
}

.stats-layer.kg:before{ content: ""; display: block; height: 60px; width: 60px; background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/kg-blue.png); background-repeat: no-repeat; background-position: center; background-size: contain; position: absolute; left: 0; right: 0; top: -32px; margin: auto;}
.stats-layer.lbs:before{ content: ""; display: block; height: 60px; width: 60px; background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/lbs-blue.png); background-repeat: no-repeat; background-position: center; background-size: contain; position: absolute; left: 0; right: 0; top: -32px; margin: auto;}


.pager {
    max-width: 300px;
    margin: 50px auto 0px;
    position: relative;
    height: 120px;
}

p.pager-text {
    margin: 10px;
}

.icon-wrap {
/*    width: 50%;*/
    float: left;
    padding: 0 25px;
    font-size: 18px;
    line-height: 1.2em;
    cursor: pointer;
}


.icon-kg{
    background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/kg-blue.png); 
    background-repeat: no-repeat;
    background-size: contain;
    height: 85px;
    width: 85px;
    margin: 10px auto 0; 
    transition: 0.2s;
    opacity: 0.5;
}
.active .icon-kg{background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/kg-blue.png);  opacity: 1; }
.icon-wrap:hover .icon-kg{background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/kg-blue.png); transform: scale(0.95); }

.icon-lbs{
    background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/lbs-blue.png); 
    background-repeat: no-repeat;
    background-size: contain;
    height: 85px;
    width: 85px;
    margin: 10px auto 0; 
    transition: 0.2s;
    opacity: 0.5;
}
.active .icon-lbs{background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/lbs-blue.png);  opacity: 1;  }
.icon-wrap:hover .icon-lbs{background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/lbs-blue.png); transform: scale(0.95);}
.datamaps-hoverover {
    margin-left: -150px;
    margin-top: 50px;
}

@media screen and (max-width: 480px){
  .datamaps-hoverover {
            left: 0 !important;
            right: 0 !important;
            margin: auto;
        }
  .map-wrap {
            height: 320px;
        }
}

    @media screen and (max-width: 1100px){


    
        .icon {
            top: -80px;
            transform: scale(0.85);
            position: relative;
        }
    
    }


    @media screen and (max-width: 769px){

        svg.datamap {
            height: 110%;
        }
        .map-wrap {
            height: 500px;
        }
 
    }

    @media screen and (max-width: 480px){

        #map {
            margin-left: -20px;
        }
        .icon {
            right: 0;
            bottom: -50px;
            transform: scale(0.6);
            top: auto;
            left: 0;
            margin: auto;
            position: absolute;
        }
        .stats {
            margin-top: 0;
        }

        .stats table{width: 100%;}
        h1 {
            font-size: 34px;
            padding: 10px 2rem;
            
        }

        img.banner {
            padding: 0 20px;
        }
        .datamap .labels text, .datamap line {
            font-size: 7px !important;
        }
        

        del {
            color: #000;
            display: inline-block;
            text-decoration: none !important;
            position: relative;
            display: inline-block;
        }

     
        h1 span {
            display: block;
        }

        svg.datamap {
            height: 100%;
            transform: scale(1.15);
        }

        .map-wrap {
            height: 200px;
        }

        .datamaps-hoverover{ z-index: 999!important;}

        .datamaps-hoverover {
            left: 0 !important;
            right: 0 !important;
            margin: auto;
        }

        .stats-layer {
            position: absolute;
            left: 0;
            right: 0;
            top: -320px !important;
            max-width: 75%;
            padding: 30px 20px 20px;
            margin: auto;
        
        }
    }

    @media screen and (max-width: 380px){
    
}
    @media screen and (max-width: 320px){
   
}

</style>
      
    </div>
  </div>

  {% section 'featured-products-subsection' %}
</div>



{{ 'footable.standalone.min.css' | asset_url | stylesheet_tag }}
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<script src="{{ 'footable.min.js' | asset_url }}" defer="defer"></script>
<script>
    async function fetchData(url, container) {
        //const url = url; // замініть посилання на своє
		const response = await fetch(url);
		const data = await response.json();
        const columnNames = {
		  "State": "State",
		  "Wilks average": "Wilks average",
		  "MEN Best Squat Kg": "MEN Best Squat (Kg)",
		  "MEN Best Bench Kg": "MEN Best Bench (Kg)",
		  "MEN Best Deadlift Kg": "MEN Best Deadlift (Kg)",
		  "WOMEN Best Squat Kg": "WOMEN Best Squat (Kg)",
		  "WOMEN Best Bench Kg": "WOMEN Best Bench (Kg)",
		  "WOMEN Best Deadlift Kg": "WOMEN Best Deadlift (Kg)",
          "Name":"Name",
          "Wilks":"Wilks",
          "Best Squat (Kg)":"Best Squat (Kg)",
          "Best Bench (Kg)":"Best Bench (Kg)",
          "Best Deadlift (Kg)":"Best Deadlift (Kg)",
          "Total (Kg)":"Total (Kg)",
          "Bodyweight (Kg)":"Bodyweight (Kg)",
          "Best3Bench (Kg)":"Best3Bench (Kg)",
		};
        if (data.length > 0) {
			// Отримуємо назви колонок з ключів першого об'єкту
			const headers = Object.keys(data[0]);

			// Створюємо масив об'єктів даних для footable з використанням назв колонок
            const footableData = data.map(row => {
              const rowData = {};
              for (let i = 0; i < headers.length; i++) {
                const value = row[headers[i]];
                 rowData[headers[i]] = typeof value === 'string' ? value.replace(',', '.') : value;
                //rowData[headers[i]] = row[headers[i]];
              }
              return rowData;
            });


			jQuery(function($) {
				$(container).footable({
					columns: headers.map((header, index) => {
					  let columnOptions = {
						name: header,
						title: columnNames[header],
					  };
                      // задати тип даних для певних колонок
                      if (["Bodyweight (Kg)", "Best Squat (Kg)", "Best Bench (Kg)", "Best Deadlift (Kg)", "Total (Kg)", "Wilks average", "Wilks", "Best3Bench (Kg)"].includes(header)) {
                        console.log(header);
                         console.log(["Bodyweight (Kg)", "Best Squat (Kg)", "Best Bench (Kg)", "Best Deadlift (Kg)", "Total (Kg)", "Wilks average", "Wilks", "Best3Bench (Kg)"].includes(header));
                        columnOptions.type = 'numeric'; // тут вказуємо тип даних
                      }
					  // задати параметри для всіх окрім перших трьох+0 колонок на breakpoints "xs" та "sm"
					  if (index > 4) {
						columnOptions.breakpoints = "xs sm";
					  }
                      
					  return columnOptions;
					}),
					rows: footableData,
					//showToggle: false,
                    limitNavigation: 5,
					paging: {
						enabled: true, // включити пагінацію
						limit: 10, // кількість рядків на одній сторінці
						showFooter: false, // відключити показ в підвалі
					},
					filtering: {
						enabled: true, // включити фільтрацію
						delay: 250, // затримка перед застосуванням фільтру після введення
						connectors: true, // дозволити використовувати AND та OR між фільтрами
					},
					sorting: {
						enabled: true,
						initial: 1, // Номер колонки, яку ви хочете сортувати за замовчуванням
						alwaysVisible: true, // Показувати елементи сортування завжди, а не тільки під час наведення курсору на заголовок колонки
						//allowMultiSort: false // Дозволити сортування за декількома колонками одночасно
					}
				});
			});
			

		}
    }
    document.addEventListener('DOMContentLoaded', () => {
      fetchData('{{ 'strongest-state.json' | asset_url }}', '.main');
      fetchData('{{ 'wilks-all-athletes.json' | asset_url }}', '.wilks-all-athletes');

      fetchData('{{ 'best squat female.json' | asset_url }}', '.best-squat-female');
      fetchData('{{ 'best bench female.json' | asset_url }}', '.best-bench-female');
      fetchData('{{ 'best deadlift female.json' | asset_url }}', '.best-deadlift-female');
      fetchData('{{ 'best squat male.json' | asset_url }}', '.best-squat-male');
      fetchData('{{ 'best bench male.json' | asset_url }}', '.best-bench-male');
      fetchData('{{ 'best deadlift male.json' | asset_url }}', '.best-deadlift-male');
    });

</script>
<style>
  .table {
/*    background-color: #1C6EA4!important;*/
    background-color: #fff!important;
    /*color: #fff!important;*/
    color: #000!important;
    border: 1px solid rgba(34,36,38,.15);
    border-collapse: initial !important; 
    border-radius: .28571429rem;
}
.table thead tr.footable-filtering th {
    background-color: #fff!important;
    color: #1C6EA4!important;
}
.table thead tr:first-child>th:only-child {
    border-radius: .28571429rem .28571429rem 0 0;
}

.table>thead>tr>th {
    padding: .92857143em .78571429em !important;
}
.table thead tr.footable-header {
    background-color: #1C6EA4!important;
    color: #fff!important;
}
.table thead>tr>th {
    vertical-align: middle;
}
.table-striped>tbody>tr:nth-of-type(odd){
    background: none !important;
}

.table thead th{
    border-bottom: 1px solid rgba(34,36,38,.1) !important;
}

.table tbody tr:hover {
    background-color: #817b7a!important;
    border-color: hsla(0,0%,100%,.99)!important;
    color: #fff!important
}
.table td {
    padding: .5em .7em;
}
.table tr:first-child td {
    border-top: none
}

.table tbody tr:nth-child(2n),.table>tr:nth-child(2n) {
    /*background-color: hsla(0,0%,100%,.05);*/
    background-color: #EEE7DB;
}


.table tr td {
    border-top: 1px solid rgba(34,36,38,.1)!important;
}

.table tfoot .footable-paging {
    background-color: #fff
}
.table td {
    padding: .5em .7em;
}

.table span.label.label-default {
    display: none;
    visibility: hidden
}
.table tfoot .footable-paging .footable-page.active a {
    background-color: #1C6EA4!important;
    border-color: #1C6EA4!important;
    color: #fff;
}
.table tfoot .footable-paging .footable-page a {
    color: rgba(0,0,0,.5);
}
.pagination>li>a, .pagination>li>span{
    color: rgba(0,0,0,.5);
}

.table .pagination>li>a:focus, .table .pagination>li>a:hover, .table .pagination>li>span:focus, .table .pagination>li>span:hover{
    color: rgba(0,0,0,.5);
}
  .table .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    background-color: #1C6EA4
}
.table .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-color: hsla(0,0%,100%,.1)!important;
    color: hsla(0,0%,100%,.9)!important;
    
}

.table .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.footable .input-group-btn:last-child>.btn{
        border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
table.footable-details>tbody>tr:first-child>th {
    width: 260px;
}
</style>